<!DOCTYPE html>
<html>
<head>
<style>
#AsaXyz {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#AsaXyz td, #AsaXyz th {
  border: 1px solid #FFD700;
  padding: 8px;
}

#AsaXyz tr:nth-child(even){background-color: #FF0000;}

#AsaXyz tr:hover {background-color: #ddd;}

#AsaXyz th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FF0000;
  color: black;
}
</style>
</head>
<body>

<table id="AsaXyz">
  <tr>
    <th>End Point</th>
    <th>Params</th>
    <th>Return</th>
  </tr>
  <tr>
    <td>/image?</td>
    <td>query=</td>
    <td><a href="image?query=ayam"><button type="button">Example</button></a></td>
  </tr>
  <tr>
    <td>/sifatnama?</td>
    <td>name=</td>
    <td><a href="sifatnama?name=asaxyz"><button type="button">Example</button></a></td>
  </tr>
  <tr>
    <td>/cctv?</td>
    <td>code=</td>
    <td><a href="cctv?code=301"><button type="button">Example</button></a></td>
  </tr>
  <tr>
    <td>/instagram?</td>
    <td>username=</td>
    <td><a href="instagram?username=sajak_detik"><button type="button">Example</button></a></td>
  </tr>
  <tr>
    <td>/twitter?</td>
    <td>username=</td>
    <td><a href="twitter?username=juiceworlddd"><button type="button">Example</button></a></td>
  </tr>
</table>
</body>
</html>
